@debug: false;


@hauteurMinSeparateur: 1px;
@hauteurMaxSeparateur: 5px;

@petitEspaceMin: 10px;
@petitEspaceMax: 20px;

@grosEspaceMin: @petitEspaceMin * 2;
@grosEspaceMax: @petitEspaceMax * 2;

@primaire01: #728CA6;
@primaire02: #4A6B8A;
@primaire03: #2A4D6E;
@primaire04: #133353;
@primaire05: #041E37;

@secondaire01: #FFEBAA;
@secondaire02: #D4BC6A;
@secondaire03: #AA8F39;
@secondaire04: #806715;
@secondaire05: #554100;

@tertiaire01: #FFC6AA;
@tertiaire02: #D48D6A;
@tertiaire03: #AA5D39;
@tertiaire04: #803815;
@tertiaire05: #551C00;

