@debug: false;


@hauteurMinSeparateur: 2px;
@hauteurMaxSeparateur: 20px;

@petitEspaceMin: 10px;
@petitEspaceMax: 20px;

@grosEspaceMin: @petitEspaceMin * 2;
@grosEspaceMax: @petitEspaceMax * 2;

@primaire01: #7486AC;
@primaire02: #4D628F;
@primaire03: #2E4372;
@primaire04: #162A55;
@primaire05: #071738;

@secondaire01: #8578B1;
@secondaire02: #5F5093;
@secondaire03: #403075;
@secondaire04: #261857;
@secondaire05: #130839;

@tertiaire01: #649D9B;
@tertiaire02: #3F827F;
@tertiaire03: #226765;
@tertiaire04: #0E4D4B;
@tertiaire05: #013331;


@fonce1: #133751;
@fonce2: #052338;
@pale1: #6B8BA2;
@pale2: #bcced6;

@pair: #476D89;
@impair: #29516D;

