#conteneurPrincipal {
  -fx-alignment: top-left;
  -fx-background-color: #2E4372;
}
.grosEspace {
  -fx-min-width: 20px;
  -fx-min-height: 20px;
  -fx-max-width: 40px;
  -fx-max-height: 40px;
}
.petitEspace {
  -fx-min-width: 10px;
  -fx-min-height: 10px;
  -fx-max-width: 20px;
  -fx-max-height: 20px;
}
.espaceSansBorne {
  -fx-min-width: 10px;
  -fx-min-height: 10px;
  -fx-max-width: Infinity;
  -fx-max-height: Infinity;
}
#conteneurInterne {
  -fx-alignment: top-left;
}
#texteNouvelItem {
  -fx-border-style: solid;
  -fx-border-color: #2E4372;
  -fx-border-width: 2px;
  -fx-border-radius: 6px;
  -fx-background-radius: 8px;
  -fx-background-color: #7486AC;
}
#boutonNouvelItem {
  -fx-border-style: solid;
  -fx-border-color: #2E4372;
  -fx-border-width: 2px;
  -fx-border-radius: 6px;
  -fx-background-radius: 8px;
  -fx-background-color: #7486AC;
}
.conteneurSeparateur {
  -fx-alignment: center;
}
.separateur {
  -fx-border-style: solid;
  -fx-border-color: #4D628F;
  -fx-border-width: 2px;
  -fx-background-color: #4D628F;
  -fx-min-height: 1px;
  -fx-max-height: 5px;
}
.conteneurItems {
  -fx-alignment: top-left;
}
.item {
  -fx-alignment: center-left;
}
.boutonEffacer {
  -fx-border-style: solid;
  -fx-border-color: #2E4372;
  -fx-border-width: 2px;
  -fx-border-radius: 6px;
  -fx-background-radius: 8px;
  -fx-background-color: #7486AC;
}
.rangeePaire {
  -fx-background-color: #4D628F;
}
.rangeeImpaire {
  -fx-background-color: #5F5093;
}
