#conteneurPrincipal {
  -fx-alignment: top-left;
  -fx-background-color: #2A4D6E;
}
.grosEspace {
  -fx-min-width: 20px;
  -fx-min-height: 20px;
  -fx-max-width: 40px;
  -fx-max-height: 40px;
}
.petitEspace {
  -fx-min-width: 10px;
  -fx-min-height: 10px;
  -fx-max-width: 20px;
  -fx-max-height: 20px;
}
.espaceSansBorne {
  -fx-min-width: 10px;
  -fx-min-height: 10px;
  -fx-max-width: Infinity;
  -fx-max-height: Infinity;
}
#conteneurInterne {
  -fx-alignment: top-left;
}
#texteNouvelItem {
  -fx-border-style: solid;
  -fx-border-color: #AA5D39;
  -fx-border-width: 2px;
  -fx-border-radius: 6px;
  -fx-background-radius: 8px;
  -fx-background-color: #FFEBAA;
  -fx-effect: dropshadow(three-pass-box, #FFEBAA, 3px, 0, 0, 0);
  -fx-text-fill: #551C00;
  -fx-font-size: 16px;
}
#boutonNouvelItem {
  -fx-border-style: solid;
  -fx-border-color: #AA5D39;
  -fx-border-width: 2px;
  -fx-border-radius: 6px;
  -fx-background-insets: 1px;
  -fx-background-radius: 6px;
  -fx-background-color: #FFEBAA;
  -fx-effect: dropshadow(three-pass-box, #FFEBAA, 3px, 0, 0, 0);
  -fx-text-fill: #551C00;
  -fx-font-size: 16px;
}
.conteneurSeparateur {
  -fx-alignment: center;
}
.separateur {
  -fx-border-style: solid;
  -fx-border-color: #4A6B8A;
  -fx-border-width: 2px;
  -fx-background-color: #4A6B8A;
  -fx-min-height: 1px;
  -fx-max-height: 5px;
}
.conteneurItems {
  -fx-alignment: top-left;
}
.item {
  -fx-alignment: center-left;
}
.boutonEffacer {
  -fx-border-style: solid;
  -fx-border-color: #2A4D6E;
  -fx-border-width: 2px;
  -fx-border-radius: 6px;
  -fx-background-radius: 8px;
  -fx-background-color: #728CA6;
}
.rangeePaire {
  -fx-background-color: #D4BC6A;
}
.rangeeImpaire {
  -fx-background-color: #D48D6A;
}
