@import "constantes";

#conteneurPrincipal{
    -fx-alignment: top-left;
    -fx-background-color: @primaire03;
}

.grosEspace{
    -fx-min-width:@grosEspaceMin;
    -fx-min-height:@grosEspaceMin;

    -fx-max-width:@grosEspaceMax;
    -fx-max-height:@grosEspaceMax;
}

.petitEspace{
    -fx-min-width:@petitEspaceMin;
    -fx-min-height:@petitEspaceMin;

    -fx-max-width:@petitEspaceMax;
    -fx-max-height:@petitEspaceMax;
}

#conteneurInterne{
    -fx-alignment: top-left;
}

#texteNouvelItem{
    -fx-border-style: solid;
    -fx-border-color: @tertiaire03;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-background-radius: 8px;
    -fx-background-color: @secondaire01;
    -fx-effect: dropshadow(three-pass-box, @secondaire01, 3px, 0, 0, 0);    

    -fx-text-fill: @tertiaire05;
    -fx-font-size: 16px;
}

#boutonNouvelItem{
    -fx-border-style: solid;
    -fx-border-color: @tertiaire03;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-background-insets: 1px;
    -fx-background-radius: 6px;
    -fx-background-color: @secondaire01;

    -fx-effect: dropshadow(three-pass-box, @secondaire01, 3px, 0, 0, 0);    

    -fx-text-fill: @tertiaire05;
    -fx-font-size: 16px;
}

.conteneurSeparateur{
    -fx-alignment: center;
}

.separateur{
    -fx-border-style: solid;
    -fx-border-color: @primaire02;
    -fx-border-width: 2px;
    -fx-background-color: @primaire02;

    -fx-min-height:@hauteurMinSeparateur;
    -fx-max-height:@hauteurMaxSeparateur;
}

.conteneurLesItems{
    -fx-alignment: top-left;
}

.conteneurUneRangee{
    -fx-alignment: center;
}

.conteneurUnItem{
    -fx-alignment: center;
}


.conteneurBoutonEffacer{
    -fx-alignment: center-right;
}

.boutonEffacer{
    -fx-border-style: solid;
    -fx-border-color: @primaire03;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-background-radius: 8px;
    -fx-background-color: @primaire01;
}



.rangeePaire{
    -fx-background-color:@secondaire02;
}

.rangeeImpaire{
    -fx-background-color:@tertiaire02;
}

