#conteneurPrincipal {
  -fx-alignment: top-left;
  -fx-background-color: #305ae1;
}
.grosEspace {
  -fx-min-width: 20px;
  -fx-min-height: 20px;
  -fx-max-width: 40px;
  -fx-max-height: 40px;
}
.petitEspace {
  -fx-min-width: 10px;
  -fx-min-height: 10px;
  -fx-max-width: 20px;
  -fx-max-height: 20px;
}
.espaceSansBorne {
  -fx-min-width: 10px;
  -fx-min-height: 10px;
  -fx-max-width: Infinity;
  -fx-max-height: Infinity;
}
#conteneurInterne {
  -fx-alignment: top-left;
}
.conteneurSeparateur {
  -fx-alignment: center;
}
.separateur {
  -fx-border-style: solid;
  -fx-border-color: #305ae1;
  -fx-border-width: 2px;
  -fx-background-color: #161620;
  -fx-min-height: 2px;
  -fx-max-height: 20px;
}
.conteneurItems {
  -fx-alignment: top-left;
}
.item {
  -fx-alignment: center-left;
}
.boutonEffacer {
  -fx-border-style: solid;
  -fx-border-color: #305ae1;
  -fx-border-width: 10px;
  -fx-background-color: #95c5db;
}
.rangeePaire {
  -fx-background-color: lightgray;
}
.rangeeImpaire {
  -fx-background-color: #fccd0e;
}
