.conteneurPrincipal {
  -fx-alignment: center;
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: #161620;
  -fx-background-color: #95c5db;
  -fx-padding: 4em;
}
.petitEspaceVertical {
  -fx-min-height: 1em;
  -fx-pref-height: 2em;
  -fx-max-height: 4em;
}
.grosEspaceVertical {
  -fx-min-height: 2em;
  -fx-pref-height: 4em;
  -fx-max-height: 8em;
}
