@import "constantes";

.conteneurPrincipal{
    -fx-alignment:center;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-color:@fonce1;
    -fx-background-color:@pale1;
    -fx-padding: @grosEspacePref;
}

.petitEspaceVertical{
    -fx-min-height  : @petitEspaceMin;
    -fx-pref-height : @petitEspacePref;
    -fx-max-height  : @petitEspaceMax;
}

.grosEspaceVertical{
    -fx-min-height  : @grosEspaceMin;
    -fx-pref-height : @grosEspacePref;
    -fx-max-height  : @grosEspaceMax;
}
