.conteneurPrincipal {
  -fx-alignment: center;
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: #161620;
  -fx-background-color: #95c5db;
  -fx-padding: 40px;
}
.petitEspaceVertical {
  -fx-min-height: 10px;
  -fx-pref-height: 20px;
  -fx-max-height: 40px;
}
.grosEspaceVertical {
  -fx-min-height: 20px;
  -fx-pref-height: 40px;
  -fx-max-height: 80px;
}
