@debug: false;

@largeurImage : 40px;
@largeurImageMin : 20px;
@largeurImageMax : 100px;
@hauteurImage : 40px;
@hauteurImageMin : 20px;
@hauteurImageMax : 100px;
@petitEspace: 10px;

@largeurColonne : @largeurImage + 2*@petitEspace;
@largeurColonneMax : @largeurImageMax + 2*@petitEspace;

@largeurGrille : 3 * @largeurColonne;
@largeurGrilleMax : 3*@largeurColonneMax;

@grosEspace: @petitEspace * 2;

@largeurTotale : @largeurGrille + 2*@grosEspace;

@hauteurCase : @hauteurImage + 2*@petitEspace;

@hauteurCaseMax : @hauteurImageMax + 2*@petitEspace;

@hauteurGrille : 3 * @hauteurCase;
@hauteurGrilleMax : 3 * @hauteurCaseMax;

@hauteurNomJoueur : @hauteurCase;
@hauteurNomJoueurMax : @hauteurCaseMax;

@largeurBouton : @largeurImage;
@largeurBoutonMax : @largeurImageMax;

@hauteurBouton : 1.5 * @hauteurImage;
@hauteurBoutonMin : @hauteurImage;
@hauteurBoutonMax : 2 * @hauteurImage;

@hauteurEntete : @hauteurBouton + 2 * @petitEspace;
@hauteurEnteteMin : @hauteurBoutonMin + 2 * @petitEspace;
@hauteurEnteteMax : @hauteurBoutonMax + 2 * @petitEspace;

@hauteurTableJeu : @hauteurEntete + @hauteurGrille;
@hauteurTableJeuMax : @hauteurEnteteMax + @hauteurGrilleMax;

@hauteurTotale : @hauteurNomJoueur + @hauteurTableJeu + 2*@grosEspace;
@hauteurTotaleMax : @hauteurNomJoueurMax + @hauteurTableJeuMax + 2*@grosEspace;




@largeurTotaleMax : @largeurGrille + 2*@grosEspace;



@petitCoin: 20px;
@grosCoin: @petitCoin * 2;


@fonce1: #161620;
@fonce2: #305ae1;
@pale1: #95c5db;
@pale2: #bcced6;

@jetonRouge: #fd5435;
@jetonJaune: #fccd0e;

