@debug: false;

@petitCoin: 2em;
@grosCoin: @petitCoin * 2;

@petitEspace: 2em;
@grosEspace: @petitEspace * 5;

@fonce1: #161620;
@fonce2: #305ae1;
@pale1: #95c5db;
@pale2: #bcced6;


@largeurColonne : 4em;
@hauteurEntete : 6em;
@largeurEntete : 2em;

@jetonRouge: #fd5435;
@jetonJaune: #fccd0e;

