@import "constantes";

.conteneurPrincipal{
}

.conteneurNomsJoueurs{
}

.conteneurNomJoueur{
}

.conteneurTableJeu{
}

.conteneurBoutons{
}

.conteneurBouton{
}

.bouton{
}

#bouton1{
    -fx-min-width:30px;
}





.boutonCoup{
}

.boutonCoup:hover {
}

.boutonCoup:pressed {
}

.conteneurGrille{
    -fx-padding:4px;
    -fx-border-style:dashed;
    -fx-border-width:2px;
    -fx-border-color:black;
}

.conteneurInterne{
}
.conteneurLigne{
}

.conteneurCase{
}

