@import "constantes";

.conteneurPrincipal{
}

.conteneurNomsJoueurs{
}

.conteneurNomJoueur{
}

.conteneurTableJeu{
}

.conteneurBoutons{
}

.conteneurBouton{
}

.boutonCoup{
}

.boutonCoup:hover {
}

.boutonCoup:pressed {
}

.conteneurGrille{
    -fx-border-style:dashed;
    -fx-border-width:2px;
    -fx-border-color:black;
}

.conteneurInterne{
    -fx-border-style:dashed;
    -fx-border-width:2px;
    -fx-border-color:blue;
}
.conteneurLigne{
}

.conteneurCase{
}

