.espaceHorizontal {
  -fx-min-width: 3px;
}
.espaceVertical {
  -fx-min-height: 3px;
}
#bouton {
  -fx-min-width: 30px;
  -fx-min-height: 100px;
}
#zoneTexte {
  -fx-max-width: 30px;
}
.conteneurA {
  -fx-padding: 4px;
  -fx-border-style: dashed;
  -fx-border-width: 2px;
  -fx-border-color: black;
}
