.conteneurGrille {
  -fx-border-style: dashed;
  -fx-border-width: 2px;
  -fx-border-color: black;
}
.conteneurInterne {
  -fx-border-style: dashed;
  -fx-border-width: 2px;
  -fx-border-color: blue;
}
