.conteneurPrincipal {
  -fx-alignment: center;
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: #161620;
  -fx-background-color: #95c5db;
  -fx-padding: 40px;
}
.petitEspaceVertical {
  -fx-min-height: 10px;
  -fx-pref-height: 20px;
  -fx-max-height: 40px;
}
.grosEspaceVertical {
  -fx-min-height: 20px;
  -fx-pref-height: 40px;
  -fx-max-height: 80px;
}
.conteneurNomsJoueurs {
  -fx-alignment: center;
  -fx-min-width: 60px;
  -fx-pref-width: 120px;
  -fx-max-width: 600px;
  -fx-min-height: 20px;
  -fx-pref-height: 40px;
  -fx-max-height: 40px;
}
.conteneurNomJoueur {
  -fx-alignment: center;
  -fx-min-height: 20px;
  -fx-pref-height: 40px;
  -fx-max-height: 200px;
}
.conteneurTableJeu {
  -fx-alignment: center;
}
.conteneurBoutons {
  -fx-alignment: center;
  -fx-min-width: 60px;
  -fx-pref-width: 120px;
  -fx-max-width: 600px;
  -fx-min-height: 40px;
  -fx-pref-height: 80px;
  -fx-max-height: 400px;
}
.conteneurBouton {
  -fx-alignment: center;
  -fx-min-height: 40px;
  -fx-pref-height: 80px;
  -fx-max-height: 400px;
}
.boutonCoup {
  -fx-min-width: 20px;
  -fx-pref-width: 40px;
  -fx-max-width: 200px;
  -fx-min-height: 40px;
  -fx-pref-height: 80px;
  -fx-max-height: 400px;
  -fx-border-style: solid;
  -fx-border-width: 2px;
  -fx-background-color: #bcced6;
  -fx-text-color: #305ae1;
  -fx-background-radius: 20px 20px 20px 20px;
  -fx-border-radius: 20px 20px 20px 20px;
}
.boutonCoup:hover {
  -fx-border-color: #fd5435;
}
.boutonCoup:pressed {
  -fx-background-color: #305ae1;
}
.conteneurGrille {
  -fx-alignment: center;
  -fx-min-width: 60px;
  -fx-pref-width: 120px;
  -fx-max-width: 600px;
  -fx-background-color: #305ae1;
  -fx-background-radius: 20px 20px 20px 20px;
  -fx-border-radius: 20px 20px 20px 20px;
}
.conteneurLigne {
  -fx-alignment: center;
}
.conteneurCase {
  -fx-alignment: center;
  -fx-min-width: 20px;
  -fx-pref-width: 40px;
  -fx-max-width: 200px;
}
.petitEspaceVertical {
  -fx-min-height: 10px;
  -fx-pref-height: 20px;
  -fx-max-height: 40px;
}
