.conteneurPrincipal {
  -fx-alignment: center;
  -fx-max-width: 19em;
  -fx-max-height: 73em;
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: #161620;
  -fx-background-color: #95c5db;
  -fx-padding: 2em;
}
.conteneurNomsJoueurs {
  -fx-alignment: center;
  -fx-max-width: 51em;
  -fx-min-height: 5em;
  -fx-max-height: 10em;
}
.conteneurNomJoueur {
  -fx-alignment: center;
  -fx-max-width: 25.5em;
  -fx-max-height: 10em;
}
.conteneurTableJeu {
  -fx-max-width: 51em;
  -fx-max-height: 59em;
}
.conteneurBoutons {
  -fx-alignment: center;
  -fx-padding-bottom: 1em;
  -fx-max-width: 51em;
  -fx-min-height: 5em;
  -fx-max-height: 8em;
}
.conteneurBouton {
  -fx-alignment: center;
  -fx-max-width: 17em;
  -fx-max-height: 8em;
}
.boutonCoup {
  -fx-border-style: solid;
  -fx-border-width: 2px;
  -fx-background-color: #bcced6;
  -fx-text-color: #305ae1;
  -fx-min-width: 3em;
  -fx-max-width: 15em;
  -fx-min-height: 3em;
  -fx-pref-height: 3em;
  -fx-max-height: 6em;
  -fx-background-radius: 2em 2em 2em 2em;
  -fx-border-radius: 2em 2em 2em 2em;
}
.boutonCoup:hover {
  -fx-border-color: #fd5435;
}
.boutonCoup:pressed {
  -fx-background-color: #305ae1;
}
.conteneurGrille {
  -fx-max-width: 51em;
  -fx-max-height: 51em;
  -fx-background-color: #305ae1;
  -fx-background-radius: 2em 2em 2em 2em;
  -fx-border-radius: 2em 2em 2em 2em;
}
.conteneurLigne {
  -fx-alignment: center;
  -fx-max-width: 51em;
  -fx-max-height: 17em;
}
.conteneurCase {
  -fx-alignment: center;
  -fx-max-width: 17em;
  -fx-max-height: 17em;
}
