.conteneurVertical {
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: #161620;
  -fx-border-radius: 4em;
  -fx-background-radius: 4em;
  -fx-background-color: #305ae1;
}
.espaceVertical {
  -fx-padding: 2em;
}
.espaceHorizontal {
  -fx-padding: 2em;
}
.bouton {
  -fx-padding: 2em;
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: #95c5db;
  -fx-border-radius: 2em;
  -fx-background-radius: 2em;
  -fx-background-color: #bcced6;
  -fx-font: 2em Times;
  -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, repeat, #95c5db 50%, #bcced6 100%);
  -fx-effect: dropshadow(three-pass-box, #161620, 4em, 0, 0, 0);
}
.bouton:pressed {
  -fx-border-color: #161620;
  -fx-background-color: #305ae1;
}
