.conteneurVertical {
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: #161620;
  -fx-border-radius: 4em;
  -fx-background-radius: 4em;
  -fx-background-color: #305ae1;
}
.conteneurHorizontal {
  -fx-padding: 2em;
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: #95c5db;
  -fx-border-radius: 2em;
  -fx-background-radius: 2em;
  -fx-background-color: #bcced6;
}
.texteBonjour {
  -fx-font: 4em Courrier;
  -fx-fill: linear-gradient(from 0% 100% to 100% 100%, repeat, #161620 0%, #305ae1 100%);
  -fx-stroke: black;
  -fx-stroke-width: 1;
}
