@import "definitions";

.conteneurVertical{
	-fx-border-style: solid;
	-fx-border-width: 5px;
	-fx-border-color:@fonce1;
	-fx-border-radius:@grosCoin;
	-fx-background-radius:@grosCoin;
	-fx-background-color:@fonce2;
}

.espaceVertical{
	-fx-padding:@grosEspace/2;  // padding-top & padding-bottom
}

.espaceHorizontal{
	-fx-padding:@grosEspace/2;  // padding-top & padding-bottom
}

.bouton{
	-fx-padding:@petitEspace;
	-fx-border-style: solid;
	-fx-border-width: 5px;
	-fx-border-color:@pale1;
	-fx-border-radius:@petitCoin;
	-fx-background-radius:@petitCoin;
	-fx-background-color:@pale2;
	-fx-font: 2em Times;
	-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, repeat, @pale1 50%, @pale2 100%);
	-fx-effect: dropshadow(three-pass-box, @fonce1, @grosEspace, 0, 0, 0);
}

.bouton:pressed{
	-fx-border-color:@fonce1;
	-fx-background-color:@fonce2;
}
