.fenetrePrincipale {
  -fx-border-style: solid;
  -fx-border-width: 2px;
  -fx-border-color: #305ae1;
  -fx-background-color: #bcced6;
}
MenuBar,
ToolBar {
  -fx-background-color: #bcced6;
}
Menu {
  -fx-background-color: #bcced6;
}
MenuItem {
  -fx-background-color: #bcced6;
}
