@import "commun";

.fenetrePrincipale{
    -fx-background-color:@pale1;
    -fx-padding:10px;
}

MenuBar, ToolBar{
    -fx-background-color:@pale2;
}


Menu{
    -fx-background-color:@pale2;
}

MenuItem{
    -fx-background-color:@pale2;
}

